*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

a{
    text-decoration: none;
}



.main-conteiner{
    height:calc(100vh - 80px);
    display: flex;
}

/*utility*/
.grow-plus{
    flex-grow: 1;
}

.shrink-none{
    flex-shrink: 0;
}

.secondary-text{
    color: #878787;
}

.text-primary{
    color: white;
}

.style-push-button{
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: small;
}

.page{
    padding: 0px 10px;
    font-size: small;
    line-height: 40px;
}

.section{
    padding: 0 10px;
}


h2{
    font-size: small;
    padding: 5px 0;
}

span.secondary-text{
    font-size: small;
}


.logo-grande, .side_bar-tittle-section, .new-playlist, .mobile-none{
    display: none;
}

/*side-bar*/

.side-bar img{
    width: 80%;
}

.arrow-small{
    font-size: small;
}

.font-small{
    font-size: small;
}

.side-bar{
    width: 50px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color: black;
}
.side-bar .top li, .side-bar .bottom li{
    text-align: center;
    padding: 4px;
}
.side-bar i{
    color: #878787;
}
.side-bar .top, .creates-playlist{
    padding: 5px 0;
}
.new-playlist{
    line-height: 30px;}

/*middle-section*/
.middle-section{
    width: 100%;
    height: 100%;
    background-color: #141922;
    overflow: auto;
}

.middle-section h1{
    font-size: large;
}

.link-header{
    text-align: right;
    line-height: 80px;
}

.header-middle-section{
    background-color: #080B12;
    height: 80px;
    padding-right: 10px;
}

.nav-middle-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.box ul li {
    list-style: none;
    display: inline-block;
}

.box a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 10px;
}

.box-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 20px 0;
    text-align: center;
}

.card{
    width: calc(100% / 2 - 8px);
}
.card img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}


/*footer nav bar*/
.nav-bar{
   height: 80px;
    display: flex;
    background-color: #282828;
    padding: 20px 10px;
}

.player-img img{
    width: 100%;
}

.player-img{
    height: 35px;
    width: 35px;
    object-fit: cover;
}

.nav-bar-left > div{
    display: inline-block;
    font-size: 10px;
}

.nav-bar-left .secondary-text{
    font-size: 8px;
}


.progress-bar{
    display: inline-block;
    height: 5px;
    background-color: #5a5a5a;
    width: 50%;
    border-radius: 10px;
}

.nav-bar-center{
    flex-grow: 1;
    text-align: center;
}
.nav-bar-left{
    display: flex;
    justify-content: space-between;
}

.player-button{
    padding: 0 10px;
}

.volum-bar{
    transform: translateY(-50%);
}


.nav-bar-right > span{
    padding: 0 5px;
}

.nav-bar-left, .nav-bar-right{
    width: 25%;
}

.progress-bar.volum-bar{
    width: 20%;
}

@media screen and (min-width:768px){
    .side-bar {
        width: 230px;
        padding: 0 10px;
    }

    .side-bar .bottom li, .side-bar .top li{
        text-align: left;
        padding: 10px 0;
    }
   
    .side-bar .bottom li:nth-child(1){
    border-bottom: 1px solid grey;
    }
    .logo-grande, .side_bar-tittle-section, .new-playlist, .mobile-none{
        display: inline-block;
    }
    .logo-piccolo{
        display: none;
    }

}